# 1.0. Imports

In [2]:
import pandas as pd
import numpy as np

# 2.0. Carregamento dos dados

In [1]:
#carregar o conjunto de dados do HD pro notebook

#função read_csv() -> biblioteca PANDAS

In [3]:
data = pd.read_csv( 'datasets/kc_house_data.csv' )

# 3.0. Rascunhos

In [4]:
# mostrar na tela as 5 primeiras linhas do conjunto de dados
df1 = data
df1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
# mostrar na tela o número de colunas e linhas do conjunto de dados

df1.shape

(21613, 21)

In [9]:
#mostre na tela o nome das colunas do conjunto de dados

df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
# mostre na tela o conjunto de dados ordenados pela coluna price

df1[['id', 'price']].sort_values( 'price' )

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

In [11]:
# mostre na tela o conjunto de dados ordenados pela coluna price do 
# maior para o menor

df1[['id', 'price']].sort_values( 'price', ascending=False )

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [14]:
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [13]:
df1['date'] = pd.to_datetime( df1['date'] )

In [15]:
df1['yr_built']

0        1955
1        1951
2        1933
3        1965
4        1987
         ...
21608    2009
21609    2014
21610    2009
21611    2004
21612    2008
Name: yr_built, Length: 21613, dtype: int64

# Exercícios

##### 1. Quantas casas estão disponíveis para compra?

In [ ]:
# R: 21613 casas

In [16]:
df1.shape

(21613, 21)

##### 2. Quantos atributos as casas possuem?

In [20]:
# R: 21 atributos

In [17]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

##### 3. Quais são os atributos das casas?

In [ ]:
# R: 'id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
#     'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
#     'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
#     'lat', 'long', 'sqft_living15', 'sqft_lot15'

##### 4. Qual a casa mais cara?

In [ ]:
# R: A casa mais cara é a ID 6762700020, com valor de $US 7.700.700,00

In [18]:
df1[['id', 'price']].sort_values( 'price', ascending=False )

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

##### 5. Qual a casa com maior número de quartos?

In [19]:
df1[['id', 'bedrooms']].sort_values( 'bedrooms', ascending=False ).head()

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10

##### 6. Qual a soma total de quartos do conjunto de dados?

In [ ]:
# R: O total da soma de quartos no conjunto é de 72854

In [20]:
#data[['id', 'bedrooms']]

df1['bedrooms'].sum( axis=0, skipna=True )

72854

##### 7. Quantas casas possuem 2 banheiros?

In [95]:
# R: 1930 casas

In [21]:
# isso retorna em booleanos, verificando quais linhas
# obedecem ao quesito de ter 2 banheiros
df1['bathrooms'] == 2

0        False
1        False
2        False
3        False
4         True
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: bathrooms, Length: 21613, dtype: bool

In [22]:
# isso retorna, em completo, todas as linhas que
# obedecem ao quesito de ter 2 banheiros
# data[ data['bathrooms'] == 2 ]
df1[ df1['bathrooms'] == 2 ].head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4,1954400510,2015-02-18,510000.0,3,2.0,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
14,1175000570,2015-03-12,530000.0,5,2.0,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
16,1875500060,2014-07-31,395000.0,3,2.0,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
25,1202000200,2014-11-03,233000.0,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
37,2768000400,2014-12-30,640000.0,4,2.0,2360,6000,2.0,0,0,...,8,2360,0,1904,0,98107,47.6702,-122.362,1730,4700

In [23]:
# pegando apenas o id e os banheiros
# e usando o shape pra conseguir o número total de linhas e colunas
df1[ df1['bathrooms'] == 2 ][['id', 'bathrooms']].shape

(1930, 2)

##### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [ ]:
# R: O preço médio é de $US 540.088,14

In [24]:
np.mean(df1['price'])

540088.1417665294

##### 9. Qual o preço médio de casas com 2 banheiros?

In [ ]:
# R: O preço médio é de $US 457.889,71

In [30]:
# forma certa

df1.loc[ df1['bathrooms'] == 2, 'price' ].mean()

457889.7186528497

In [11]:
#price_2bathrooms = df1['bathrooms'] == 2.0
# df1.loc[price_2bathrooms]['price'].mean()
df1[['bathrooms', 'price']].groupby( df1['bathrooms'] == 2.0 ).mean()

           bathrooms          price
bathrooms
False        2.12601  548148.038968
True         2.00000  457889.718653

##### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [ ]:
# R: $US 82.000

In [32]:
# forma certa

df1.loc[ df1['bedrooms'] == 3, 'price' ].min()

82000.0

In [26]:
price_3bedrooms = df1['bedrooms'] == 3
np.min(df1.loc[price_3bedrooms]['price'])

82000.0

##### 11. Quantas casas possuem mais de 300m² na sala de estar?

In [ ]:
# R: 21612 casas (apenas 1 tem menos que 300m² na sala de estar)

In [35]:
# forma certa

# criar coluna "m2_living" para armazenar os valores de pés p/ m²
df1['m2_living'] = df1['sqft_living'] * 0.092903

# filtrar m2_living acima de 300m²
df1[ df1['m2_living'] > 300 ]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2_living
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,503.534260
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,330.734680
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,392.050660
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,333.986285
58,7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0,0,4,...,3250,0,1968,0,98008,47.5880,-122.116,2960,11044,301.934750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21596,7502800100,20140813T000000,679950.0,5,2.75,3600,9437,2.0,0,0,...,3600,0,2014,0,98059,47.4822,-122.131,3550,9421,334.450800
21597,191100405,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,0,...,3410,0,2007,0,98040,47.5653,-122.223,2290,10125,316.799230
21599,7202300110,20140915T000000,810000.0,4,3.00,3990,7838,2.0,0,0,...,3990,0,2003,0,98053,47.6857,-122.046,3370,6814,370.682970
21600,249000205,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,...,4470,0,2008,0,98004,47.6321,-122.200,2780,8964,415.276410
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,2600,910,2009,0,98136,47.5537,-122.398,2050,6200,326.089530

##### 12. Quantas casas tem mais de 2 andares?

In [ ]:
# R: 782 casas

In [28]:
df1[ df1['floors'] > 2 ].shape

(782, 21)

##### 13. Quantas casas tem vista para o mar?

In [ ]:
# R: 163 casas

In [29]:
df1[ df1['waterfront'] != 0 ].shape

(163, 21)

##### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [ ]:
# R: 64 casas com vista pro mar possuem 3 quartos

In [37]:
# forma certa

df1[ (df1['waterfront'] == 1 ) & ( df1['bedrooms'] == 3 ) ]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2_living
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,255.761959
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,1770,200,1980,0,98070,47.3844,-122.438,2280,75396,183.018910
540,622049114,20150218T000000,2125000.0,3,2.50,5403,24069,2.0,1,4,...,5403,0,1976,0,98166,47.4169,-122.348,3980,104374,501.954909
656,3760500116,20141120T000000,3070000.0,3,2.50,3930,55867,1.0,1,4,...,2330,1600,1957,0,98034,47.7022,-122.224,2730,26324,365.108790
1261,7636800041,20140625T000000,995000.0,3,4.50,4380,47044,2.0,1,3,...,3720,660,1968,1990,98166,47.4734,-122.365,2460,18512,406.915140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,7351200295,20150114T000000,1150000.0,3,1.75,1760,6788,2.0,1,4,...,1760,0,1940,1960,98125,47.7336,-122.284,1630,7588,163.509280
19971,2623039019,20140508T000000,988500.0,3,2.75,2015,16807,2.0,1,4,...,2015,0,2007,0,98166,47.4500,-122.377,1780,12310,187.199545
19984,2025069140,20150317T000000,1898000.0,3,2.50,2830,4334,3.0,1,4,...,2830,0,2006,0,98074,47.6318,-122.071,2830,38211,262.915490
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,3430,980,2014,0,98056,47.5283,-122.205,3550,5634,409.702230
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,2830,930,2014,0,98056,47.5285,-122.205,3560,5762,349.315280

In [30]:
waterfrontview_3bed = df1[ df1['waterfront'] != 0 ]
waterfrontview_3bed[ waterfrontview_3bed['bedrooms'] == 3 ].shape

(64, 21)

##### 15. Das casas com mais de 300m² de sala de estar, quantas tem mais de 2 banheiros?

In [ ]:
# R: 2201 casas com mais de 300m² de sala de estar possuem mais de 2 banheiros

In [41]:
df1[ ( df1['m2_living'] > 300 ) & ( df1['bathrooms'] > 2 ) ]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2_living
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,503.534260
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,330.734680
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,392.050660
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,333.986285
58,7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0,0,4,...,3250,0,1968,0,98008,47.5880,-122.116,2960,11044,301.934750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21596,7502800100,20140813T000000,679950.0,5,2.75,3600,9437,2.0,0,0,...,3600,0,2014,0,98059,47.4822,-122.131,3550,9421,334.450800
21597,191100405,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,0,...,3410,0,2007,0,98040,47.5653,-122.223,2290,10125,316.799230
21599,7202300110,20140915T000000,810000.0,4,3.00,3990,7838,2.0,0,0,...,3990,0,2003,0,98053,47.6857,-122.046,3370,6814,370.682970
21600,249000205,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,...,4470,0,2008,0,98004,47.6321,-122.200,2780,8964,415.276410
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,2600,910,2009,0,98136,47.5537,-122.398,2050,6200,326.089530